{% extends 'base.html.twig' %}

{% block title %}QR Code{% endblock %}

{% block stylesheets %}
	<style>body{text-align:center}img{max-width:100%}</style>
{% endblock %}

{% block body %}
	<img src="{{ qr_code_path(message) }}" alt="{{ description }}" id="image">
	<a href="{{ path('location_select') }}">Retour</a>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        (function() {
			var image = document.getElementById("image");
            var interval = setInterval(function() {
                axios.post('{{ path("location_refresh") }}', 'location={{ id }}')
                .then(function(response) {
					if(response.status === 200) {
						image.setAttribute("src", "/qr-code/"+response.data+".png");
					} else {
						throw Error(response.status);
					}					
                })
                .catch(function() {
                    window.location.href = "{{ path('location_select') }}";
                });
            }, 30000);
        })();
    </script>
{% endblock %}
